@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f0fdf4; /* Use the same color as Dashboard */
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  